# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# OS files
desktop.ini
Thumbs.db

# IDE files
.vscode/
.idea/

# Project specific
elumia_src.zip
elumia_update.zip
elumia_github_ready.zip
sandbox.txt
*.json
contact_info.txt
test_firebase.py
